@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="font-family:verdana" class="display-4">Welcome to my page!</h1>
    <p>This is my first website!</p>
    <p >Spotify link <a href="https://docs.microsoft.com/aspnet/core">here</a>.</p>
</div>

