<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/08ff3972-84d8-4d96-98ab-ffd890cb4fa6/resourceGroups/FirstResourceGroup/providers/Microsoft.Web/sites/allaboutkate</ResourceId>
    <ResourceGroup>FirstResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://allaboutkate.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://allaboutkate.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$allaboutkate</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>